<div>
  <div class="row" style="padding-left: 25px;padding-top: 10px;">
    <!--<div class="col-lg-3" style="height: 200px;background: azure;" [routerLink]="['/masters-add/twist']">
      <div style="padding-top: 80px;font-size: 25px;padding-left: 55px;">Twist Codes</div>
    </div>
    <div class="col-lg-3" style="height: 200px;background: azure;margin-left: 30px" [routerLink]="['/masters-add/shield']">
      <div style="padding-top: 80px;font-size: 25px;padding-left: 55px;">Shield Codes</div>
    </div>-->
    <div class="col-lg-3" style="height: 200px;background: azure;" [routerLink]="['/masters-add/part']">
      <div style="padding-top: 80px;font-size: 25px; text-align: center;">PART MASTER</div>
    </div>
    <div class="col-lg-3" style="height: 200px;background: azure;margin-left: 30px" [routerLink]="['/masters-add/proposal']">
      <div style="padding-top: 80px;font-size: 25px; text-align: center;">TECHNICAL PROPOSAL</div>
    </div>
  </div>
  <!-- <div class="row" style="padding-left: 25px;padding-top: 40px;">
    <div class="col-lg-3" style="height: 200px;background: azure;">
      <div style="padding-top: 80px;font-size: 25px;padding-left: 55px;">Twist Codes</div>
    </div>
  </div> -->
</div>
