<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->
<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <!-- <a *ngIf="!companyLogo" class="navbar-brand">
    <img src="assets/img/logo.png" class="img-fluid">
  </a> -->
  <a class="navbar-brand" [routerLink]="['/dashboard']">
    <!-- *ngIf="companyLogo" -->
    <img class="img-fluid" src="assets/img/Yazaki_Logo.png">
  </a>


  <ul class="nav navbar-nav d-md-down-none">

    <!-- <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']">Home</a>
    </li> -->
    <p class="ProjectName">
      <!-- *ngIf="companyLogo" -->
      <b class="ProjectName">VAVE Portal</b>
    </p>
  </ul>
</header>


<body>

</body>
<footer class="">
  <a href="https://www.yazaki-group.com/global/">&copy; Yazaki India Pvt. Ltd.</a> 2017. All Rights Reserved
  <span class="float-right">Powered by
    <a href="https://www.yazaki-group.com/global/" target="blank">Yazaki India Pvt. Ltd.</a>
  </span>
</footer>
