<!--
  <ngx-loading [show]="loading"
          [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
-->
<section>
  <form
    novalidate
    autocomplete="off"
    (ngSubmit)="onSubmit(myForm.valid)"
    #myForm="ngForm"
  >
    <div class="container">
      <div class="FormClient">
        <div class="form-group">
          <div class="col-md-6">
            <div class="card mx-4">
              <div class="card-body p-4">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-user"></i>
                    </span>
                  </div>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Username"
                  />
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input class="form-control" type="text" placeholder="Email" />
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                  </div>
                  <input
                    class="form-control"
                    type="password"
                    placeholder="Password"
                  />
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                  </div>
                  <input
                    class="form-control"
                    type="password"
                    placeholder="Repeat password"
                  />
                </div>
                <button class="btn btn-block btn-success" type="button">
                  Create Account
                </button>
              </div>
              <div class="card-footer p-4">
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-block btn-facebook" type="button">
                      <span>facebook</span>
                    </button>
                  </div>
                  <div class="col-6">
                    <button class="btn btn-block btn-twitter" type="button">
                      <span>twitter</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

<!-- code for popup -->
<div
  bsModal
  #primaryModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-primary modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Terms of Use</h4>
        <button
          type="button"
          class="close"
          (click)="primaryModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height:75vh;overflow:auto;">
        <div class="card-block">
          <div class="row">
            <div class="help-questionnair">
              <h5>Introduction</h5>
              <p>
                These Website Standard Terms and Conditions written on this
                webpage shall manage your use of this website. These Terms will
                be applied fully and affect to your use of this Website. By
                using this Website, you agreed to accept all terms and
                conditions written in here. You must not use this Website if you
                disagree with any of these Website Standard Terms and
                Conditions.
              </p>
              <p>
                Minors or people below 18 years old are not allowed to use this
                Website.
              </p>
            </div>
            <div class="help-questionnair">
              <h5>Intellectual Property Rights</h5>
              <p>
                Other than the content you own, under these Terms, GoChargeback
                and/or its licensors own all the intellectual property rights
                and materials contained in this Website.
              </p>
              <p>
                You are granted limited license only for purposes of viewing the
                material contained on this Website.
              </p>
            </div>
            <div class="help-questionnair">
              <h5>Restrictions</h5>
              <p>You are specifically restricted from all of the following</p>
              <ul style="padding-left:50px;">
                <li>publishing any Website material in any other media</li>
                <li>
                  selling, sublicensing and/or otherwise commercializing any
                  Website material
                </li>
                <li>publicly performing and/or showing any Website material</li>
                <li>
                  using this Website in any way that is or may be damaging to
                  this Website
                </li>
                <li>
                  using this Website in any way that impacts user access to this
                  Website
                </li>
                <li>
                  using this Website contrary to applicable laws and
                  regulations, or in any way may cause harm to the Website, or
                  to any person or business entity
                </li>
                <li>
                  engaging in any data mining, data harvesting, data extracting
                  or any other similar activity in relation to this Website
                </li>
                <li>
                  using this Website to engage in any advertising or marketing
                </li>
              </ul>
              <p>
                Certain areas of this Website are restricted from being access
                by you and GoChargeback may further restrict access by you to
                any areas of this Website, at any time, in absolute discretion.
                Any user ID and password you may have for this Website are
                confidential and you must maintain confidentiality as well.
              </p>
            </div>
            <div class="help-questionnair">
              <h5>Your Content</h5>
              <p>
                In these Website Standard Terms and Conditions, “Your Content”
                shall mean any audio, video text, images or other material you
                choose to display on this Website. By displaying Your Content,
                you grant GoChargeback a non-exclusive, worldwide irrevocable,
                sub licensable license to use, reproduce, adapt, publish,
                translate and distribute it in any and all media.
              </p>
              <p>
                Your Content must be your own and must not be invading any
                third-party’s rights. GoChargeback reserves the right to remove
                any of Your Content from this Website at any time without
                notice.
              </p>
            </div>
            <div class="help-questionnair">
              <h5>No warranties</h5>
              <p>
                This Website is provided “as is,” with all faults, and
                GoChargeback express no representations or warranties, of any
                kind related to this Website or the materials contained on this
                Website. Also, nothing contained on this Website shall be
                interpreted as advising you.
              </p>
            </div>
            <div class="help-questionnair">
              <h5>Limitation of liability</h5>
              <p>
                In no event shall GoChargeback, nor any of its officers,
                directors and employees, shall be held liable for anything
                arising out of or in any way connected with your use of this
                Website whether such liability is under contract. GoChargeback,
                including its officers, directors and employees shall not be
                held liable for any indirect, consequential or special liability
                arising out of or in any way related to your use of this
                Website.
              </p>
            </div>
            <div class="help-questionnair">
              <h5>Indemnification</h5>
              <p>
                You hereby indemnify to the fullest extent GoChargeback from and
                against any and/or all liabilities, costs, demands, causes of
                action, damages and expenses arising in any way related to your
                breach of any of the provisions of these Terms.
              </p>
            </div>
            <div class="help-questionnair">
              <h5>Severability</h5>
              <p>
                If any provision of these Terms is found to be invalid under any
                applicable law, such provisions shall be deleted without
                affecting the remaining provisions herein.
              </p>
            </div>
            <div class="help-questionnair">
              <h5>Variation of Terms</h5>
              <p>
                If any provision of these Terms is found to be invalid under any
                applicable law, such provisions shall be deleted without
                affecting the remaining provisions herein.
              </p>
            </div>
            <div class="help-questionnair">
              <h5>Assignment</h5>
              <p>
                The GoChargeback is allowed to assign, transfer, and subcontract
                its rights and/or obligations under these Terms without any
                notification. However, you are not allowed to assign, transfer,
                or subcontract any of your rights and/or obligations under these
                Terms.
              </p>
            </div>
            <div class="help-questionnair">
              <h5>Entire Agreement</h5>
              <p>
                These Terms constitute the entire agreement between GoChargeback
                and you in relation to your use of this Website, and supersede
                all prior agreements and understandings.
              </p>
            </div>
            <div class="help-questionnair">
              <h5>Governing Law & Jurisdiction</h5>
              <p>
                These Terms will be governed by and interpreted in accordance
                with the laws of the State of Texas, and you submit to the
                non-exclusive jurisdiction of the state and federal courts
                located in Texas for the resolution of any disputes.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
