<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<section>
  <form novalidate autocomplete="off" #myForm="ngForm">
    <div class="FormClient">
      <div class="form-group">
        <div class="card">
          <div class="card-header Search_padding">
            <div class="row">
              <div class="col-sm-10">
                <h4>USER ACCESS  MANAGEMENT </h4>
              </div>
            </div>
          </div>
          <div class="card-block Search_padding">
            <div class="row">
              <div class="container">
                <div class="form-group row">
                  <label class="col-md-5 col-form-label text-right" for="select2">Please select Plant code
                    <sup class="text-danger">*</sup>
                  </label>
                  <div class="col-md-7">
                    <select class="form-control w-50" [(ngModel)]='selectedPlant' name='roleName' #roleName='ngModel'
                    (change)="SelectedPlantCode($event)" >
                      <option value="" selected="true" disabled="true"> Select Plant Code</option>
                      <option *ngFor="let item of plantCodes" value="{{item.plantCode}}">
                        {{item.plantCode}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

<div class="row" *ngIf="selectedPlant">

  <div class="col-lg-12">
    <div class="card">
      <div class="card-header Search_padding">
        <i class="fa fa-align-justify "></i>Allow Access
      </div>
      <div class="card-block">

        <div class="row">
          <div class="col-lg-12">
            <div class="form-group row">
              <label class="col-md-1 col-form-label text-right" for="select2">User</label>
              <div class="col-md-2">
                <input type="text" class="form-control" (change)="GetUserDetailsUser(userAccessPermission.userId)"
                [(ngModel)]="userAccessPermission.userId" placeholder="User Id" id="Remarks"
                  name="Remarks" value=""
                  popover="The user already exists" triggers="" >

              </div>
              <div class="col-md-1">
                <label class="col-md-12" style="white-space: nowrap">First Name</label>
                <label class="col-md-12" style="font-weight: 100">{{userAccessPermission.firstName}}</label>
              </div>
              <div class="col-md-1">
                <label class="col-md-12" style="white-space: nowrap">Last Name</label>
                <label class="col-md-12" style="font-weight: 100">{{userAccessPermission.lastName}}</label>
              </div>
              <div class="col-md-2">
                <label class="col-md-12" style="white-space: nowrap">Deptartment</label>
                <label class="col-md-12" style="font-weight: 100">{{userAccessPermission.department}}</label>
              </div>
              <div class="col-md-3">
                <label class="col-md-12" style="white-space: nowrap">User Name</label>
                <label class="col-md-12" style="font-weight: 100;">{{userAccessPermission.userName}}</label>
              </div>
              <div class="col-md-2">
                <label class="col-md-12" style="white-space: nowrap">Location</label>
                <label class="col-md-12" style="font-weight: 100">{{userAccessPermission.location}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group row">
              <label class="col-md-1 col-form-label text-right" for="select2">Admin</label>
              <div class="col-md-2">
                <input type="text" class="form-control" (change)="GetUserDetailsAdmin(adminAccesPermission.userId)"
                [(ngModel)]="adminAccesPermission.userId" placeholder="Admin Id" id="Remarks"
                  name="Remarks" value="" popover="The user already exists" triggers="" >
              </div>
              <div class="col-md-1">
                <label class="col-md-12" style="white-space: nowrap">First Name</label>
                <label class="col-md-12" style="font-weight: 100">{{adminAccesPermission.firstName}}</label>
              </div>
              <div class="col-md-1">
                <label class="col-md-12" style="white-space: nowrap">Last Name</label>
                <label class="col-md-12" style="font-weight: 100">{{adminAccesPermission.lastName}}</label>
              </div>
              <div class="col-md-2">
                <label class="col-md-12" style="white-space: nowrap">Deptartment</label>
                <label class="col-md-12" style="font-weight: 100">{{adminAccesPermission.department}}</label>
              </div>
              <div class="col-md-3">
                <label class="col-md-12" style="white-space: nowrap">User Name</label>
                <label class="col-md-12" style="font-weight: 100">{{adminAccesPermission.userName}}</label>
              </div>
              <div class="col-md-2">
                <label class="col-md-12" style="white-space: nowrap">Location</label>
                <label class="col-md-12" style="font-weight: 100">{{adminAccesPermission.location}}</label>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="card-footer">
        <div class="pull-right">
          <button style="margin-right: 10px;" type="submit" class="btn btn-primary" (click)="AllowAccess()">Save</button>
          <button type="reset" [routerLink]="['/access-permission/dashboard']" class="btn btn-secondary">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="selectedPlant">

  <div class="col-lg-12">
    <div class="card">
      <div class="card-header Search_padding">
        <i class="fa fa-align-justify "></i>Access Details
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>User Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Cost Center Code</th>
              <th>Department</th>
              <th>Location</th>
              <th>User Name</th>
              <th>Role Name</th>
              <th>Plant Code</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tt of pagedItems; let i =index">
              <td>{{tt.userId}}</td>
              <td>{{tt.firstName}}</td>
              <td>{{tt.lastName}}</td>
              <td>{{tt.costCenterCode}}</td>
              <td>{{tt.department}}</td>
              <td>{{tt.location}}</td>
              <td>{{tt.userName}}</td>
              <td>{{tt.roleName}}</td>
              <td>{{tt.plantCode}}</td>
              <td>

                <a class="color-blue" title="Activate" *ngIf="!tt.isActive">
                  <i class="fa fa-lock" (click)="Activate(tt,i)"></i>
                </a>
                <a class="color-blue" title="De-Activate" *ngIf="tt.isActive">
                  <i class="fa fa-unlock-alt" area-hidden="true" (click)="DeActivate(tt,i)"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <ul style="float: right;margin-right: 12px;" *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li [ngClass]="{ disabled: pager.currentPage === 1 }"><a (click)="setPage(1)">First</a></li>
          <li [ngClass]="{ disabled: pager.currentPage === 1 }"><a (click)="setPage(pager.currentPage - 1)">Previous</a></li>
          <li *ngFor="let page of pager.pages" [ngClass]="{ active: pager.currentPage === page }">
            <a (click)="setPage(page)">{{ page }}</a>
          </li>
          <li [ngClass]="{ disabled: pager.currentPage === pager.totalPages }"><a (click)="setPage(pager.currentPage + 1)">Next</a></li>
          <li [ngClass]="{ disabled: pager.currentPage === pager.totalPages }"><a (click)="setPage(pager.totalPages)">Last</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
