.input-group-addon{
  min-width: 40px;
  max-width: 40px;
  white-space: nowrap;
  vertical-align: middle; // Match the inputs
}
.input-group-btn {
  min-width: 40px;
  white-space: nowrap;
  vertical-align: middle; // Match the inputs
}
